import com.webpt.testing.starter.runners.BaseRunner;
import cucumber.api.CucumberOptions;

@CucumberOptions(
    features = {"$featureFile"},
    plugin = {$reports, "testng:target/testng/testng-results.xml"}
)

public class $className extends BaseRunner{
}